body {
    font-family: Arial, sans-serif;
    background: linear-gradient(45deg, black, #007bff, black);
    color: #262626;
    margin: 0;
}

header {
    background: linear-gradient(to bottom, #21B0A7, #5237ec);
    color: white;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
    padding: 30px;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.skill-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skill-item {
  background: linear-gradient(to bottom, #21B0A7, blue);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: white;
  padding: 6px 16px;
  border-radius: 20px;
  font-weight: bold;
}

.highlight {
  color: #ffffff;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

main {
  padding: 16px;
}

section {
  background: linear-gradient(to right, #21B0A7, #5237ec);
  padding: 20px;
  margin-bottom: 16px;
  border-radius: 8px;
  border: 1px solid #cccccc;
}

@media (min-width: 768px) {
  main {
    max-width: 900px;
    margin: 0 auto;
    padding: 24px;
  }

  .header-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .footer-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

footer {
    background: linear-gradient(to bottom, #21B0A7, #5237ec);
    color: white;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 20px;
}